# itzg/minecraft-server
MC_PORT=25565
BLUEMAP_PORT=8100
VOICE_PORT=24454

# RCON
RCON_PASSWORD=unsecure-password-change-me

# grafana/alloy
COCKPIT_CLUSTER=moucraft
COCKPIT_ENV=production
COCKPIT_URL=
COCKPIT_TOKEN=