# itzg/mc-backup
BACKUP_METHOD=restic
BACKUP_INTERVAL=1h
TZ=Europe/Paris

RCON_HOST=mc
RCON_PORT=25575

RESTIC_ADDITIONAL_TAGS=moucraft_backup
RESTIC_HOSTNAME=restic_moucraft_backup
RESTIC_REPOSITORY=/backups/restic
RESTIC_PASSWORD=change-me-unsecure-password
PRUNE_RESTIC_RETENTION="--keep-daily 7 --keep-weekly 5 --keep-monthly 6"
PRE_BACKUP_SCRIPT="echo \"[PRE_BACKUP_SCRIPT] backup from $RCON_HOST to \$DEST_DIR\""