# General options
INIT_MEMORY=4G
MAX_MEMORY=6G
TZ=Europe/Paris
ENABLE_ROLLING_LOGS=true
USE_MEOWICE_FLAGS=true
LOG_IPS=false

# Server
TYPE=NEOFORGE
EULA=true
VERSION=1.21.1
NEOFORGE_VERSION=21.1.219

MODPACK_VERSION_TAG=1.8.0
PACKWIZ_URL="https://raw.githubusercontent.com/MouTeam/MouCraft/refs/tags/v${MODPACK_VERSION_TAG}/packwiz/modrinth/pack.toml"

ICON="https://cdn.modrinth.com/data/SYLaBkiA/aae41ffd4f1d73b28443b64de12f286e4cd7fb89_96.webp"
MOTD="\u00a79MouCraft RP S1\u00a7r - \u00a77${MODPACK_VERSION_TAG}\u00a7r - (%date:yyyy-MM-dd HH:mm%)\n%TYPE% %NEOFORGE_VERSION% MINECRAFT %VERSION%"

MAX_PLAYERS=20
SPAWN_PROTECTION=0
SEED=-4718518006483892959
MODE=survival
PLAYER_IDLE_TIMEOUT=30
REGION_FILE_COMPRESSION=lz4
ALLOW_FLIGHT=true
STOP_SERVER_ANNOUNCE_DELAY=60

# Whitelist
ENABLE_WHITELIST=true
WHITELIST=

# RCON
ENABLE_RCON=true
RCON_CMDS_STARTUP=

# Misc
PAUSE_WHEN_EMPTY_SECONDS=60
BROADCAST_CONSOLE_TO_OPS=false
BROADCAST_RCON_TO_OPS=true
